@import "tailwindcss";
@layer base {
  body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
  }

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      660px 1437px #fff,
      602px 409px #fff,
      354px 655px #fff,
      1456px 1288px #fff,
      8px 332px #fff,
      1052px 845px #fff,
      102px 1484px #fff,
      561px 348px #fff,
      896px 765px #fff,
      848px 580px #fff,
      1671px 629px #fff,
      1494px 1540px #fff,
      884px 270px #fff,
      716px 186px #fff,
      1093px 677px #fff,
      1152px 890px #fff,
      204px 1884px #fff,
      1481px 1486px #fff,
      946px 316px #fff,
      242px 1726px #fff,
      1745px 465px #fff,
      1027px 1439px #fff,
      832px 384px #fff,
      665px 227px #fff,
      306px 1045px #fff,
      1716px 1101px #fff,
      1977px 248px #fff,
      1067px 1820px #fff,
      1209px 1024px #fff,
      768px 351px #fff,
      18px 480px #fff,
      1223px 1995px #fff,
      1075px 642px #fff,
      1102px 596px #fff,
      558px 1169px #fff,
      888px 882px #fff,
      405px 336px #fff,
      1968px 268px #fff,
      1367px 1743px #fff,
      158px 1459px #fff,
      1443px 983px #fff,
      1681px 1960px #fff,
      1841px 1339px #fff,
      940px 874px #fff,
      775px 1724px #fff,
      961px 430px #fff,
      53px 1823px #fff,
      1566px 1270px #fff,
      1722px 1453px #fff,
      1917px 96px #fff,
      34px 789px #fff,
      689px 781px #fff,
      1196px 1074px #fff,
      644px 1925px #fff,
      1382px 261px #fff,
      142px 329px #fff,
      822px 408px #fff,
      455px 38px #fff,
      1106px 1402px #fff,
      19px 1573px #fff,
      1741px 1481px #fff,
      1417px 1164px #fff,
      1597px 1274px #fff,
      991px 705px #fff,
      71px 651px #fff,
      817px 1586px #fff,
      481px 666px #fff,
      1265px 200px #fff,
      1741px 115px #fff,
      429px 966px #fff,
      1186px 1763px #fff,
      841px 245px #fff,
      1821px 1020px #fff,
      822px 915px #fff,
      136px 1172px #fff,
      1753px 101px #fff,
      131px 1744px #fff,
      1209px 106px #fff,
      633px 551px #fff,
      1037px 294px #fff,
      1676px 1935px #fff,
      1940px 321px #fff,
      1232px 1258px #fff,
      1913px 1589px #fff,
      984px 695px #fff,
      1076px 141px #fff,
      527px 1190px #fff,
      432px 962px #fff,
      658px 1349px #fff,
      1160px 1137px #fff,
      1194px 616px #fff,
      1411px 674px #fff,
      522px 905px #fff,
      780px 20px #fff,
      1878px 43px #fff,
      1290px 369px #fff,
      1377px 1448px #fff,
      1273px 415px #fff,
      1265px 473px #fff,
      401px 1213px #fff,
      546px 1238px #fff,
      1078px 449px #fff,
      822px 104px #fff,
      1691px 590px #fff,
      185px 1763px #fff,
      1217px 963px #fff,
      1220px 975px #fff,
      1383px 259px #fff,
      1535px 423px #fff,
      540px 1690px #fff,
      1444px 815px #fff,
      121px 1913px #fff,
      799px 439px #fff,
      919px 335px #fff,
      1153px 411px #fff,
      1129px 842px #fff,
      1997px 386px #fff,
      64px 1513px #fff,
      1830px 1738px #fff,
      1217px 1799px #fff,
      1257px 1955px #fff,
      754px 583px #fff,
      205px 516px #fff,
      961px 1882px #fff,
      1086px 999px #fff,
      451px 1788px #fff,
      1627px 1324px #fff,
      734px 1817px #fff,
      941px 1246px #fff,
      1815px 1350px #fff,
      971px 65px #fff,
      449px 523px #fff,
      1403px 1622px #fff,
      324px 891px #fff,
      1793px 814px #fff,
      1928px 1432px #fff,
      102px 1321px #fff,
      1348px 443px #fff,
      1415px 621px #fff,
      1547px 837px #fff,
      837px 780px #fff,
      1643px 404px #fff,
      1687px 1958px #fff,
      1946px 1415px #fff,
      1920px 312px #fff,
      1670px 1995px #fff,
      836px 1589px #fff,
      1453px 139px #fff,
      22px 1374px #fff,
      922px 1379px #fff,
      449px 1330px #fff,
      335px 646px #fff,
      1356px 1869px #fff,
      1607px 778px #fff,
      1476px 1801px #fff,
      839px 1544px #fff,
      411px 1943px #fff,
      1238px 1369px #fff,
      825px 1955px #fff,
      1328px 1983px #fff,
      467px 413px #fff,
      425px 1739px #fff,
      1984px 1897px #fff,
      1133px 1788px #fff,
      1100px 596px #fff,
      578px 1765px #fff,
      558px 810px #fff,
      1548px 1581px #fff,
      882px 918px #fff,
      904px 1064px #fff,
      1408px 419px #fff,
      1148px 824px #fff,
      1415px 1585px #fff,
      1920px 777px #fff,
      1297px 1312px #fff,
      875px 639px #fff,
      1105px 1675px #fff,
      1948px 1478px #fff,
      1109px 646px #fff,
      130px 1858px #fff,
      1469px 47px #fff,
      1262px 1403px #fff,
      1601px 726px #fff,
      1537px 514px #fff,
      1925px 1026px #fff,
      1879px 1441px #fff,
      1281px 48px #fff,
      1018px 332px #fff,
      16px 916px #fff,
      1438px 1816px #fff,
      801px 576px #fff,
      729px 141px #fff,
      1982px 219px #fff,
      553px 1297px #fff,
      1844px 769px #fff,
      1041px 1870px #fff,
      1853px 1438px #fff,
      661px 1570px #fff,
      1136px 1422px #fff,
      579px 828px #fff,
      1032px 1331px #fff,
      1041px 175px #fff,
      1322px 1257px #fff,
      94px 965px #fff,
      901px 1482px #fff,
      242px 1044px #fff,
      859px 927px #fff,
      522px 530px #fff,
      1790px 452px #fff,
      1977px 1677px #fff,
      483px 641px #fff,
      1822px 523px #fff,
      874px 292px #fff,
      1751px 997px #fff,
      1647px 1507px #fff,
      1913px 1466px #fff,
      1926px 1281px #fff,
      860px 294px #fff,
      390px 8px #fff,
      656px 69px #fff,
      855px 1346px #fff,
      1081px 1760px #fff,
      26px 202px #fff,
      636px 168px #fff,
      1619px 685px #fff,
      158px 797px #fff,
      1304px 904px #fff,
      210px 396px #fff,
      267px 693px #fff,
      1230px 104px #fff,
      1302px 766px #fff,
      1032px 1938px #fff,
      1429px 1734px #fff,
      846px 1980px #fff,
      906px 418px #fff,
      1020px 613px #fff,
      178px 1225px #fff,
      1158px 475px #fff,
      29px 1498px #fff,
      1636px 1988px #fff,
      49px 1021px #fff,
      619px 1749px #fff,
      1168px 1450px #fff,
      187px 1872px #fff,
      43px 789px #fff,
      941px 1668px #fff,
      312px 1504px #fff,
      480px 1943px #fff,
      318px 450px #fff,
      296px 976px #fff,
      1902px 1554px #fff,
      501px 1224px #fff,
      1374px 123px #fff,
      739px 1650px #fff,
      1512px 815px #fff,
      1965px 660px #fff,
      517px 1882px #fff,
      1226px 1415px #fff,
      1212px 993px #fff,
      419px 1815px #fff,
      1673px 1603px #fff,
      1865px 196px #fff,
      268px 1006px #fff,
      1467px 268px #fff,
      1931px 1612px #fff,
      350px 1495px #fff,
      9px 523px #fff,
      856px 441px #fff,
      1690px 291px #fff,
      1486px 1980px #fff,
      582px 658px #fff,
      1176px 1727px #fff,
      963px 746px #fff,
      14px 699px #fff,
      920px 1257px #fff,
      691px 892px #fff,
      1575px 962px #fff,
      1904px 1210px #fff,
      1813px 559px #fff,
      1150px 1703px #fff,
      1396px 489px #fff,
      204px 13px #fff,
      1247px 1157px #fff,
      1198px 1393px #fff,
      1341px 792px #fff,
      486px 458px #fff,
      359px 1922px #fff,
      461px 977px #fff,
      1167px 1501px #fff,
      772px 1666px #fff,
      1293px 211px #fff,
      1765px 1934px #fff,
      1865px 393px #fff,
      230px 225px #fff,
      1811px 272px #fff,
      1797px 818px #fff,
      1648px 1881px #fff,
      1751px 1215px #fff,
      894px 395px #fff,
      1021px 1927px #fff,
      1497px 1151px #fff,
      557px 817px #fff,
      295px 221px #fff,
      1925px 297px #fff,
      1513px 1541px #fff,
      1616px 1794px #fff,
      1995px 1084px #fff,
      1091px 1538px #fff,
      921px 685px #fff,
      396px 391px #fff,
      164px 1238px #fff,
      890px 977px #fff,
      1531px 1308px #fff,
      1391px 976px #fff,
      1739px 554px #fff,
      1213px 1803px #fff,
      661px 1247px #fff,
      453px 77px #fff,
      1924px 1474px #fff,
      1691px 1329px #fff,
      796px 517px #fff,
      610px 1561px #fff,
      777px 1822px #fff,
      1889px 645px #fff,
      917px 85px #fff,
      93px 794px #fff,
      950px 1824px #fff,
      948px 1817px #fff,
      1921px 1747px #fff,
      1854px 1181px #fff,
      674px 676px #fff,
      1820px 423px #fff,
      594px 1675px #fff,
      1402px 1663px #fff,
      56px 842px #fff,
      1008px 1834px #fff,
      760px 591px #fff,
      43px 1855px #fff,
      910px 344px #fff,
      1593px 1359px #fff,
      912px 1460px #fff,
      1108px 139px #fff,
      1542px 1666px #fff,
      1055px 824px #fff,
      484px 1298px #fff,
      1122px 17px #fff,
      679px 764px #fff,
      1386px 386px #fff,
      1680px 1496px #fff,
      1365px 693px #fff,
      1338px 497px #fff,
      1091px 1073px #fff,
      494px 995px #fff,
      1887px 1146px #fff,
      342px 1960px #fff,
      802px 848px #fff,
      1542px 1862px #fff,
      1069px 1813px #fff,
      1610px 787px #fff,
      852px 1081px #fff,
      497px 10px #fff,
      1386px 963px #fff,
      617px 391px #fff,
      349px 1799px #fff,
      1573px 1389px #fff,
      972px 767px #fff,
      1949px 648px #fff,
      679px 945px #fff,
      1516px 601px #fff,
      1204px 1634px #fff,
      299px 1898px #fff,
      498px 10px #fff,
      914px 87px #fff,
      484px 1609px #fff,
      83px 1665px #fff,
      623px 753px #fff,
      472px 1309px #fff,
      194px 1899px #fff,
      32px 894px #fff,
      955px 1589px #fff,
      1288px 1851px #fff,
      459px 818px #fff,
      56px 925px #fff,
      1879px 1909px #fff,
      1894px 1735px #fff,
      238px 911px #fff,
      31px 322px #fff,
      1021px 825px #fff,
      635px 1101px #fff,
      790px 792px #fff,
      1442px 621px #fff,
      866px 1469px #fff,
      1333px 736px #fff,
      819px 1310px #fff,
      26px 1040px #fff,
      716px 259px #fff,
      1098px 1967px #fff,
      868px 1716px #fff,
      268px 435px #fff,
      982px 1942px #fff,
      759px 142px #fff,
      882px 1388px #fff,
      914px 1622px #fff,
      965px 1887px #fff,
      341px 1908px #fff,
      1169px 349px #fff,
      1335px 760px #fff,
      1906px 1555px #fff,
      125px 1352px #fff,
      1334px 1782px #fff,
      760px 1468px #fff,
      780px 666px #fff,
      1150px 1640px #fff,
      1147px 1415px #fff,
      1175px 1172px #fff,
      1103px 1290px #fff,
      429px 954px #fff,
      1672px 1300px #fff,
      1656px 1422px #fff,
      1772px 256px #fff,
      269px 101px #fff,
      1641px 1367px #fff,
      550px 1015px #fff,
      1883px 1868px #fff,
      740px 163px #fff,
      1990px 497px #fff,
      898px 39px #fff,
      1201px 1797px #fff,
      622px 1479px #fff,
      1202px 1710px #fff,
      1135px 725px #fff,
      947px 1005px #fff,
      1513px 1222px #fff,
      1298px 954px #fff,
      482px 1914px #fff,
      1402px 1319px #fff,
      19px 757px #fff,
      277px 1112px #fff,
      670px 53px #fff,
      1502px 961px #fff,
      1680px 546px #fff,
      794px 562px #fff,
      623px 1885px #fff,
      1115px 6px #fff,
      1873px 1428px #fff,
      459px 1176px #fff,
      277px 1590px #fff,
      244px 1571px #fff,
      581px 1937px #fff,
      1835px 1252px #fff,
      1919px 1520px #fff,
      1991px 276px #fff,
      1700px 569px #fff,
      1585px 1571px #fff,
      925px 1946px #fff,
      619px 1040px #fff,
      190px 404px #fff,
      1551px 337px #fff,
      1338px 533px #fff,
      88px 145px #fff,
      1164px 1835px #fff,
      1416px 319px #fff,
      1684px 159px #fff,
      1823px 247px #fff,
      1111px 1851px #fff,
      1612px 1114px #fff,
      360px 1051px #fff,
      1997px 325px #fff,
      1087px 922px #fff,
      855px 681px #fff,
      917px 338px #fff,
      1412px 681px #fff,
      1328px 582px #fff,
      1463px 1859px #fff,
      102px 55px #fff,
      186px 1420px #fff,
      1594px 24px #fff,
      706px 454px #fff,
      1059px 1381px #fff,
      464px 84px #fff,
      1054px 141px #fff,
      643px 1544px #fff,
      1459px 804px #fff,
      1008px 306px #fff,
      1441px 804px #fff,
      1972px 1609px #fff,
      621px 911px #fff,
      231px 1755px #fff,
      1427px 287px #fff,
      753px 1420px #fff,
      466px 1109px #fff,
      421px 1505px #fff,
      1605px 682px #fff,
      12px 89px #fff,
      1698px 1950px #fff,
      127px 182px #fff,
      944px 554px #fff,
      192px 1803px #fff,
      833px 1811px #fff,
      1219px 934px #fff,
      1891px 1135px #fff,
      558px 431px #fff,
      434px 1401px #fff,
      752px 617px #fff,
      1291px 531px #fff,
      1257px 1706px #fff,
      966px 1298px #fff,
      1013px 786px #fff,
      609px 273px #fff,
      561px 93px #fff,
      687px 105px #fff,
      1819px 1588px #fff,
      1135px 374px #fff,
      480px 87px #fff,
      10px 266px #fff,
      1442px 1360px #fff,
      1774px 1579px #fff,
      1790px 157px #fff,
      1949px 1145px #fff,
      172px 720px #fff,
      1399px 1309px #fff,
      585px 1691px #fff,
      258px 804px #fff,
      827px 1562px #fff,
      1103px 659px #fff,
      1990px 1481px #fff,
      1869px 1772px #fff,
      162px 133px #fff,
      6px 731px #fff,
      77px 252px #fff,
      1309px 1983px #fff,
      697px 1902px #fff,
      1941px 1509px #fff,
      1884px 623px #fff,
      271px 1773px #fff,
      111px 144px #fff,
      1595px 1899px #fff,
      1500px 1711px #fff,
      511px 752px #fff,
      937px 35px #fff,
      817px 1137px #fff,
      1889px 167px #fff,
      1433px 454px #fff,
      133px 1874px #fff,
      232px 545px #fff,
      23px 1221px #fff,
      142px 852px #fff,
      479px 1091px #fff,
      176px 39px #fff,
      147px 1643px #fff,
      938px 1703px #fff,
      741px 629px #fff,
      1970px 375px #fff,
      687px 1915px #fff,
      1975px 151px #fff,
      648px 486px #fff,
      452px 1564px #fff,
      1895px 54px #fff,
      1341px 907px #fff,
      798px 137px #fff,
      1860px 473px #fff,
      790px 460px #fff,
      323px 1328px #fff,
      331px 613px #fff,
      908px 513px #fff,
      650px 1955px #fff,
      45px 569px #fff,
      1847px 72px #fff,
      1288px 1240px #fff,
      1360px 1964px #fff,
      1715px 758px #fff,
      536px 255px #fff,
      344px 1457px #fff,
      1407px 1885px #fff,
      910px 1535px #fff,
      1914px 671px #fff,
      1303px 648px #fff,
      1892px 1967px #fff,
      1827px 1392px #fff,
      997px 1078px #fff,
      528px 1300px #fff,
      946px 1666px #fff,
      808px 1182px #fff,
      1312px 1491px #fff,
      1663px 924px #fff,
      921px 559px #fff,
      1073px 1752px #fff,
      1186px 963px #fff,
      1425px 117px #fff,
      1606px 339px #fff,
      749px 7px #fff,
      295px 806px #fff,
      1542px 667px #fff,
      277px 1924px #fff,
      616px 642px #fff,
      645px 216px #fff,
      1889px 1992px #fff,
      1646px 1000px #fff,
      1491px 1207px #fff,
      719px 431px #fff,
      1046px 554px #fff,
      1503px 1585px #fff,
      1077px 1414px #fff,
      715px 579px #fff,
      1007px 712px #fff,
      1350px 895px #fff,
      1879px 1577px #fff,
      1689px 1531px #fff,
      668px 1342px #fff,
      408px 1463px #fff,
      1056px 495px #fff,
      1710px 677px #fff,
      878px 12px #fff,
      1018px 228px #fff,
      560px 770px #fff,
      1119px 799px #fff,
      288px 561px #fff,
      869px 1958px #fff,
      1201px 1139px #fff,
      482px 862px #fff,
      315px 1264px #fff,
      1027px 1808px #fff,
      1375px 1187px #fff,
      150px 1584px #fff,
      770px 4px #fff,
      1526px 1304px #fff,
      1038px 1043px #fff,
      1594px 471px #fff,
      238px 533px #fff,
      1440px 1011px #fff,
      196px 733px #fff,
      1466px 1857px #fff,
      1804px 1808px #fff,
      162px 751px #fff,
      571px 1636px #fff,
      458px 1910px #fff,
      975px 164px #fff,
      1342px 1696px #fff,
      949px 1256px #fff,
      1171px 1172px #fff,
      1192px 319px #fff,
      181px 1361px #fff,
      511px 1109px #fff,
      279px 470px #fff,
      1532px 1785px #fff,
      465px 885px #fff,
      931px 967px #fff,
      1540px 400px #fff,
      322px 123px #fff,
      1105px 711px #fff,
      1163px 931px #fff,
      1599px 27px #fff,
      240px 1512px #fff,
      109px 1980px #fff,
      1123px 1259px #fff,
      1484px 1106px #fff,
      696px 304px #fff,
      1411px 1299px #fff,
      820px 719px #fff,
      560px 314px #fff,
      1576px 1216px #fff,
      614px 1796px #fff,
      412px 79px #fff,
      695px 1372px #fff,
      797px 325px #fff,
      468px 1682px #fff,
      1611px 1385px #fff,
      484px 537px #fff,
      1855px 211px #fff,
      1590px 1725px #fff,
      1951px 221px #fff,
      195px 1636px #fff,
      193px 1589px #fff,
      1438px 1565px #fff,
      583px 258px #fff,
      975px 1613px #fff,
      936px 286px #fff,
      186px 592px #fff,
      1171px 853px #fff,
      1524px 707px #fff,
      1397px 1830px #fff,
      1009px 248px #fff,
      597px 1439px #fff,
      1471px 1736px #fff,
      1038px 329px #fff,
      1045px 1709px #fff,
      63px 1183px #fff,
      298px 586px #fff,
      1991px 1663px #fff,
      1728px 1572px #fff,
      1282px 1480px #fff,
      1096px 1983px #fff,
      529px 1230px #fff,
      139px 934px #fff,
      1393px 685px #fff,
      1091px 1905px #fff,
      238px 155px #fff,
      891px 342px #fff,
      1386px 1039px #fff,
      56px 1164px #fff;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      660px 1437px #fff,
      602px 409px #fff,
      354px 655px #fff,
      1456px 1288px #fff,
      8px 332px #fff,
      1052px 845px #fff,
      102px 1484px #fff,
      561px 348px #fff,
      896px 765px #fff,
      848px 580px #fff,
      1671px 629px #fff,
      1494px 1540px #fff,
      884px 270px #fff,
      716px 186px #fff,
      1093px 677px #fff,
      1152px 890px #fff,
      204px 1884px #fff,
      1481px 1486px #fff,
      946px 316px #fff,
      242px 1726px #fff,
      1745px 465px #fff,
      1027px 1439px #fff,
      832px 384px #fff,
      665px 227px #fff,
      306px 1045px #fff,
      1716px 1101px #fff,
      1977px 248px #fff,
      1067px 1820px #fff,
      1209px 1024px #fff,
      768px 351px #fff,
      18px 480px #fff,
      1223px 1995px #fff,
      1075px 642px #fff,
      1102px 596px #fff,
      558px 1169px #fff,
      888px 882px #fff,
      405px 336px #fff,
      1968px 268px #fff,
      1367px 1743px #fff,
      158px 1459px #fff,
      1443px 983px #fff,
      1681px 1960px #fff,
      1841px 1339px #fff,
      940px 874px #fff,
      775px 1724px #fff,
      961px 430px #fff,
      53px 1823px #fff,
      1566px 1270px #fff,
      1722px 1453px #fff,
      1917px 96px #fff,
      34px 789px #fff,
      689px 781px #fff,
      1196px 1074px #fff,
      644px 1925px #fff,
      1382px 261px #fff,
      142px 329px #fff,
      822px 408px #fff,
      455px 38px #fff,
      1106px 1402px #fff,
      19px 1573px #fff,
      1741px 1481px #fff,
      1417px 1164px #fff,
      1597px 1274px #fff,
      991px 705px #fff,
      71px 651px #fff,
      817px 1586px #fff,
      481px 666px #fff,
      1265px 200px #fff,
      1741px 115px #fff,
      429px 966px #fff,
      1186px 1763px #fff,
      841px 245px #fff,
      1821px 1020px #fff,
      822px 915px #fff,
      136px 1172px #fff,
      1753px 101px #fff,
      131px 1744px #fff,
      1209px 106px #fff,
      633px 551px #fff,
      1037px 294px #fff,
      1676px 1935px #fff,
      1940px 321px #fff,
      1232px 1258px #fff,
      1913px 1589px #fff,
      984px 695px #fff,
      1076px 141px #fff,
      527px 1190px #fff,
      432px 962px #fff,
      658px 1349px #fff,
      1160px 1137px #fff,
      1194px 616px #fff,
      1411px 674px #fff,
      522px 905px #fff,
      780px 20px #fff,
      1878px 43px #fff,
      1290px 369px #fff,
      1377px 1448px #fff,
      1273px 415px #fff,
      1265px 473px #fff,
      401px 1213px #fff,
      546px 1238px #fff,
      1078px 449px #fff,
      822px 104px #fff,
      1691px 590px #fff,
      185px 1763px #fff,
      1217px 963px #fff,
      1220px 975px #fff,
      1383px 259px #fff,
      1535px 423px #fff,
      540px 1690px #fff,
      1444px 815px #fff,
      121px 1913px #fff,
      799px 439px #fff,
      919px 335px #fff,
      1153px 411px #fff,
      1129px 842px #fff,
      1997px 386px #fff,
      64px 1513px #fff,
      1830px 1738px #fff,
      1217px 1799px #fff,
      1257px 1955px #fff,
      754px 583px #fff,
      205px 516px #fff,
      961px 1882px #fff,
      1086px 999px #fff,
      451px 1788px #fff,
      1627px 1324px #fff,
      734px 1817px #fff,
      941px 1246px #fff,
      1815px 1350px #fff,
      971px 65px #fff,
      449px 523px #fff,
      1403px 1622px #fff,
      324px 891px #fff,
      1793px 814px #fff,
      1928px 1432px #fff,
      102px 1321px #fff,
      1348px 443px #fff,
      1415px 621px #fff,
      1547px 837px #fff,
      837px 780px #fff,
      1643px 404px #fff,
      1687px 1958px #fff,
      1946px 1415px #fff,
      1920px 312px #fff,
      1670px 1995px #fff,
      836px 1589px #fff,
      1453px 139px #fff,
      22px 1374px #fff,
      922px 1379px #fff,
      449px 1330px #fff,
      335px 646px #fff,
      1356px 1869px #fff,
      1607px 778px #fff,
      1476px 1801px #fff,
      839px 1544px #fff,
      411px 1943px #fff,
      1238px 1369px #fff,
      825px 1955px #fff,
      1328px 1983px #fff,
      467px 413px #fff,
      425px 1739px #fff,
      1984px 1897px #fff,
      1133px 1788px #fff,
      1100px 596px #fff,
      578px 1765px #fff,
      558px 810px #fff,
      1548px 1581px #fff,
      882px 918px #fff,
      904px 1064px #fff,
      1408px 419px #fff,
      1148px 824px #fff,
      1415px 1585px #fff,
      1920px 777px #fff,
      1297px 1312px #fff,
      875px 639px #fff,
      1105px 1675px #fff,
      1948px 1478px #fff,
      1109px 646px #fff,
      130px 1858px #fff,
      1469px 47px #fff,
      1262px 1403px #fff,
      1601px 726px #fff,
      1537px 514px #fff,
      1925px 1026px #fff,
      1879px 1441px #fff,
      1281px 48px #fff,
      1018px 332px #fff,
      16px 916px #fff,
      1438px 1816px #fff,
      801px 576px #fff,
      729px 141px #fff,
      1982px 219px #fff,
      553px 1297px #fff,
      1844px 769px #fff,
      1041px 1870px #fff,
      1853px 1438px #fff,
      661px 1570px #fff,
      1136px 1422px #fff,
      579px 828px #fff,
      1032px 1331px #fff,
      1041px 175px #fff,
      1322px 1257px #fff,
      94px 965px #fff,
      901px 1482px #fff,
      242px 1044px #fff,
      859px 927px #fff,
      522px 530px #fff,
      1790px 452px #fff,
      1977px 1677px #fff,
      483px 641px #fff,
      1822px 523px #fff,
      874px 292px #fff,
      1751px 997px #fff,
      1647px 1507px #fff,
      1913px 1466px #fff,
      1926px 1281px #fff,
      860px 294px #fff,
      390px 8px #fff,
      656px 69px #fff,
      855px 1346px #fff,
      1081px 1760px #fff,
      26px 202px #fff,
      636px 168px #fff,
      1619px 685px #fff,
      158px 797px #fff,
      1304px 904px #fff,
      210px 396px #fff,
      267px 693px #fff,
      1230px 104px #fff,
      1302px 766px #fff,
      1032px 1938px #fff,
      1429px 1734px #fff,
      846px 1980px #fff,
      906px 418px #fff,
      1020px 613px #fff,
      178px 1225px #fff,
      1158px 475px #fff,
      29px 1498px #fff,
      1636px 1988px #fff,
      49px 1021px #fff,
      619px 1749px #fff,
      1168px 1450px #fff,
      187px 1872px #fff,
      43px 789px #fff,
      941px 1668px #fff,
      312px 1504px #fff,
      480px 1943px #fff,
      318px 450px #fff,
      296px 976px #fff,
      1902px 1554px #fff,
      501px 1224px #fff,
      1374px 123px #fff,
      739px 1650px #fff,
      1512px 815px #fff,
      1965px 660px #fff,
      517px 1882px #fff,
      1226px 1415px #fff,
      1212px 993px #fff,
      419px 1815px #fff,
      1673px 1603px #fff,
      1865px 196px #fff,
      268px 1006px #fff,
      1467px 268px #fff,
      1931px 1612px #fff,
      350px 1495px #fff,
      9px 523px #fff,
      856px 441px #fff,
      1690px 291px #fff,
      1486px 1980px #fff,
      582px 658px #fff,
      1176px 1727px #fff,
      963px 746px #fff,
      14px 699px #fff,
      920px 1257px #fff,
      691px 892px #fff,
      1575px 962px #fff,
      1904px 1210px #fff,
      1813px 559px #fff,
      1150px 1703px #fff,
      1396px 489px #fff,
      204px 13px #fff,
      1247px 1157px #fff,
      1198px 1393px #fff,
      1341px 792px #fff,
      486px 458px #fff,
      359px 1922px #fff,
      461px 977px #fff,
      1167px 1501px #fff,
      772px 1666px #fff,
      1293px 211px #fff,
      1765px 1934px #fff,
      1865px 393px #fff,
      230px 225px #fff,
      1811px 272px #fff,
      1797px 818px #fff,
      1648px 1881px #fff,
      1751px 1215px #fff,
      894px 395px #fff,
      1021px 1927px #fff,
      1497px 1151px #fff,
      557px 817px #fff,
      295px 221px #fff,
      1925px 297px #fff,
      1513px 1541px #fff,
      1616px 1794px #fff,
      1995px 1084px #fff,
      1091px 1538px #fff,
      921px 685px #fff,
      396px 391px #fff,
      164px 1238px #fff,
      890px 977px #fff,
      1531px 1308px #fff,
      1391px 976px #fff,
      1739px 554px #fff,
      1213px 1803px #fff,
      661px 1247px #fff,
      453px 77px #fff,
      1924px 1474px #fff,
      1691px 1329px #fff,
      796px 517px #fff,
      610px 1561px #fff,
      777px 1822px #fff,
      1889px 645px #fff,
      917px 85px #fff,
      93px 794px #fff,
      950px 1824px #fff,
      948px 1817px #fff,
      1921px 1747px #fff,
      1854px 1181px #fff,
      674px 676px #fff,
      1820px 423px #fff,
      594px 1675px #fff,
      1402px 1663px #fff,
      56px 842px #fff,
      1008px 1834px #fff,
      760px 591px #fff,
      43px 1855px #fff,
      910px 344px #fff,
      1593px 1359px #fff,
      912px 1460px #fff,
      1108px 139px #fff,
      1542px 1666px #fff,
      1055px 824px #fff,
      484px 1298px #fff,
      1122px 17px #fff,
      679px 764px #fff,
      1386px 386px #fff,
      1680px 1496px #fff,
      1365px 693px #fff,
      1338px 497px #fff,
      1091px 1073px #fff,
      494px 995px #fff,
      1887px 1146px #fff,
      342px 1960px #fff,
      802px 848px #fff,
      1542px 1862px #fff,
      1069px 1813px #fff,
      1610px 787px #fff,
      852px 1081px #fff,
      497px 10px #fff,
      1386px 963px #fff,
      617px 391px #fff,
      349px 1799px #fff,
      1573px 1389px #fff,
      972px 767px #fff,
      1949px 648px #fff,
      679px 945px #fff,
      1516px 601px #fff,
      1204px 1634px #fff,
      299px 1898px #fff,
      498px 10px #fff,
      914px 87px #fff,
      484px 1609px #fff,
      83px 1665px #fff,
      623px 753px #fff,
      472px 1309px #fff,
      194px 1899px #fff,
      32px 894px #fff,
      955px 1589px #fff,
      1288px 1851px #fff,
      459px 818px #fff,
      56px 925px #fff,
      1879px 1909px #fff,
      1894px 1735px #fff,
      238px 911px #fff,
      31px 322px #fff,
      1021px 825px #fff,
      635px 1101px #fff,
      790px 792px #fff,
      1442px 621px #fff,
      866px 1469px #fff,
      1333px 736px #fff,
      819px 1310px #fff,
      26px 1040px #fff,
      716px 259px #fff,
      1098px 1967px #fff,
      868px 1716px #fff,
      268px 435px #fff,
      982px 1942px #fff,
      759px 142px #fff,
      882px 1388px #fff,
      914px 1622px #fff,
      965px 1887px #fff,
      341px 1908px #fff,
      1169px 349px #fff,
      1335px 760px #fff,
      1906px 1555px #fff,
      125px 1352px #fff,
      1334px 1782px #fff,
      760px 1468px #fff,
      780px 666px #fff,
      1150px 1640px #fff,
      1147px 1415px #fff,
      1175px 1172px #fff,
      1103px 1290px #fff,
      429px 954px #fff,
      1672px 1300px #fff,
      1656px 1422px #fff,
      1772px 256px #fff,
      269px 101px #fff,
      1641px 1367px #fff,
      550px 1015px #fff,
      1883px 1868px #fff,
      740px 163px #fff,
      1990px 497px #fff,
      898px 39px #fff,
      1201px 1797px #fff,
      622px 1479px #fff,
      1202px 1710px #fff,
      1135px 725px #fff,
      947px 1005px #fff,
      1513px 1222px #fff,
      1298px 954px #fff,
      482px 1914px #fff,
      1402px 1319px #fff,
      19px 757px #fff,
      277px 1112px #fff,
      670px 53px #fff,
      1502px 961px #fff,
      1680px 546px #fff,
      794px 562px #fff,
      623px 1885px #fff,
      1115px 6px #fff,
      1873px 1428px #fff,
      459px 1176px #fff,
      277px 1590px #fff,
      244px 1571px #fff,
      581px 1937px #fff,
      1835px 1252px #fff,
      1919px 1520px #fff,
      1991px 276px #fff,
      1700px 569px #fff,
      1585px 1571px #fff,
      925px 1946px #fff,
      619px 1040px #fff,
      190px 404px #fff,
      1551px 337px #fff,
      1338px 533px #fff,
      88px 145px #fff,
      1164px 1835px #fff,
      1416px 319px #fff,
      1684px 159px #fff,
      1823px 247px #fff,
      1111px 1851px #fff,
      1612px 1114px #fff,
      360px 1051px #fff,
      1997px 325px #fff,
      1087px 922px #fff,
      855px 681px #fff,
      917px 338px #fff,
      1412px 681px #fff,
      1328px 582px #fff,
      1463px 1859px #fff,
      102px 55px #fff,
      186px 1420px #fff,
      1594px 24px #fff,
      706px 454px #fff,
      1059px 1381px #fff,
      464px 84px #fff,
      1054px 141px #fff,
      643px 1544px #fff,
      1459px 804px #fff,
      1008px 306px #fff,
      1441px 804px #fff,
      1972px 1609px #fff,
      621px 911px #fff,
      231px 1755px #fff,
      1427px 287px #fff,
      753px 1420px #fff,
      466px 1109px #fff,
      421px 1505px #fff,
      1605px 682px #fff,
      12px 89px #fff,
      1698px 1950px #fff,
      127px 182px #fff,
      944px 554px #fff,
      192px 1803px #fff,
      833px 1811px #fff,
      1219px 934px #fff,
      1891px 1135px #fff,
      558px 431px #fff,
      434px 1401px #fff,
      752px 617px #fff,
      1291px 531px #fff,
      1257px 1706px #fff,
      966px 1298px #fff,
      1013px 786px #fff,
      609px 273px #fff,
      561px 93px #fff,
      687px 105px #fff,
      1819px 1588px #fff,
      1135px 374px #fff,
      480px 87px #fff,
      10px 266px #fff,
      1442px 1360px #fff,
      1774px 1579px #fff,
      1790px 157px #fff,
      1949px 1145px #fff,
      172px 720px #fff,
      1399px 1309px #fff,
      585px 1691px #fff,
      258px 804px #fff,
      827px 1562px #fff,
      1103px 659px #fff,
      1990px 1481px #fff,
      1869px 1772px #fff,
      162px 133px #fff,
      6px 731px #fff,
      77px 252px #fff,
      1309px 1983px #fff,
      697px 1902px #fff,
      1941px 1509px #fff,
      1884px 623px #fff,
      271px 1773px #fff,
      111px 144px #fff,
      1595px 1899px #fff,
      1500px 1711px #fff,
      511px 752px #fff,
      937px 35px #fff,
      817px 1137px #fff,
      1889px 167px #fff,
      1433px 454px #fff,
      133px 1874px #fff,
      232px 545px #fff,
      23px 1221px #fff,
      142px 852px #fff,
      479px 1091px #fff,
      176px 39px #fff,
      147px 1643px #fff,
      938px 1703px #fff,
      741px 629px #fff,
      1970px 375px #fff,
      687px 1915px #fff,
      1975px 151px #fff,
      648px 486px #fff,
      452px 1564px #fff,
      1895px 54px #fff,
      1341px 907px #fff,
      798px 137px #fff,
      1860px 473px #fff,
      790px 460px #fff,
      323px 1328px #fff,
      331px 613px #fff,
      908px 513px #fff,
      650px 1955px #fff,
      45px 569px #fff,
      1847px 72px #fff,
      1288px 1240px #fff,
      1360px 1964px #fff,
      1715px 758px #fff,
      536px 255px #fff,
      344px 1457px #fff,
      1407px 1885px #fff,
      910px 1535px #fff,
      1914px 671px #fff,
      1303px 648px #fff,
      1892px 1967px #fff,
      1827px 1392px #fff,
      997px 1078px #fff,
      528px 1300px #fff,
      946px 1666px #fff,
      808px 1182px #fff,
      1312px 1491px #fff,
      1663px 924px #fff,
      921px 559px #fff,
      1073px 1752px #fff,
      1186px 963px #fff,
      1425px 117px #fff,
      1606px 339px #fff,
      749px 7px #fff,
      295px 806px #fff,
      1542px 667px #fff,
      277px 1924px #fff,
      616px 642px #fff,
      645px 216px #fff,
      1889px 1992px #fff,
      1646px 1000px #fff,
      1491px 1207px #fff,
      719px 431px #fff,
      1046px 554px #fff,
      1503px 1585px #fff,
      1077px 1414px #fff,
      715px 579px #fff,
      1007px 712px #fff,
      1350px 895px #fff,
      1879px 1577px #fff,
      1689px 1531px #fff,
      668px 1342px #fff,
      408px 1463px #fff,
      1056px 495px #fff,
      1710px 677px #fff,
      878px 12px #fff,
      1018px 228px #fff,
      560px 770px #fff,
      1119px 799px #fff,
      288px 561px #fff,
      869px 1958px #fff,
      1201px 1139px #fff,
      482px 862px #fff,
      315px 1264px #fff,
      1027px 1808px #fff,
      1375px 1187px #fff,
      150px 1584px #fff,
      770px 4px #fff,
      1526px 1304px #fff,
      1038px 1043px #fff,
      1594px 471px #fff,
      238px 533px #fff,
      1440px 1011px #fff,
      196px 733px #fff,
      1466px 1857px #fff,
      1804px 1808px #fff,
      162px 751px #fff,
      571px 1636px #fff,
      458px 1910px #fff,
      975px 164px #fff,
      1342px 1696px #fff,
      949px 1256px #fff,
      1171px 1172px #fff,
      1192px 319px #fff,
      181px 1361px #fff,
      511px 1109px #fff,
      279px 470px #fff,
      1532px 1785px #fff,
      465px 885px #fff,
      931px 967px #fff,
      1540px 400px #fff,
      322px 123px #fff,
      1105px 711px #fff,
      1163px 931px #fff,
      1599px 27px #fff,
      240px 1512px #fff,
      109px 1980px #fff,
      1123px 1259px #fff,
      1484px 1106px #fff,
      696px 304px #fff,
      1411px 1299px #fff,
      820px 719px #fff,
      560px 314px #fff,
      1576px 1216px #fff,
      614px 1796px #fff,
      412px 79px #fff,
      695px 1372px #fff,
      797px 325px #fff,
      468px 1682px #fff,
      1611px 1385px #fff,
      484px 537px #fff,
      1855px 211px #fff,
      1590px 1725px #fff,
      1951px 221px #fff,
      195px 1636px #fff,
      193px 1589px #fff,
      1438px 1565px #fff,
      583px 258px #fff,
      975px 1613px #fff,
      936px 286px #fff,
      186px 592px #fff,
      1171px 853px #fff,
      1524px 707px #fff,
      1397px 1830px #fff,
      1009px 248px #fff,
      597px 1439px #fff,
      1471px 1736px #fff,
      1038px 329px #fff,
      1045px 1709px #fff,
      63px 1183px #fff,
      298px 586px #fff,
      1991px 1663px #fff,
      1728px 1572px #fff,
      1282px 1480px #fff,
      1096px 1983px #fff,
      529px 1230px #fff,
      139px 934px #fff,
      1393px 685px #fff,
      1091px 1905px #fff,
      238px 155px #fff,
      891px 342px #fff,
      1386px 1039px #fff,
      56px 1164px #fff;
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      935px 1069px #fff,
      481px 43px #fff,
      62px 1523px #fff,
      1981px 1842px #fff,
      1237px 1554px #fff,
      846px 1586px #fff,
      1065px 1663px #fff,
      1464px 1822px #fff,
      1978px 1666px #fff,
      1908px 971px #fff,
      343px 238px #fff,
      874px 1780px #fff,
      742px 1563px #fff,
      1036px 993px #fff,
      680px 155px #fff,
      291px 438px #fff,
      1720px 1363px #fff,
      1093px 1025px #fff,
      1872px 1931px #fff,
      1333px 825px #fff,
      907px 1857px #fff,
      1890px 259px #fff,
      442px 344px #fff,
      858px 824px #fff,
      1674px 1358px #fff,
      1774px 529px #fff,
      1732px 189px #fff,
      1983px 735px #fff,
      125px 1523px #fff,
      869px 239px #fff,
      1232px 1219px #fff,
      1106px 1042px #fff,
      573px 1111px #fff,
      1382px 190px #fff,
      25px 1014px #fff,
      1327px 1077px #fff,
      150px 1695px #fff,
      406px 435px #fff,
      483px 389px #fff,
      1667px 666px #fff,
      72px 973px #fff,
      1989px 806px #fff,
      1096px 507px #fff,
      617px 1500px #fff,
      779px 1524px #fff,
      42px 263px #fff,
      1000px 1788px #fff,
      932px 686px #fff,
      1955px 856px #fff,
      253px 383px #fff,
      1655px 303px #fff,
      1281px 1404px #fff,
      1418px 1824px #fff,
      937px 2000px #fff,
      1575px 373px #fff,
      158px 987px #fff,
      95px 993px #fff,
      1733px 1561px #fff,
      1207px 427px #fff,
      1840px 1265px #fff,
      1781px 478px #fff,
      1939px 1829px #fff,
      676px 987px #fff,
      1604px 1485px #fff,
      1350px 1790px #fff,
      671px 1475px #fff,
      1432px 854px #fff,
      203px 1672px #fff,
      369px 1773px #fff,
      1905px 848px #fff,
      333px 990px #fff,
      429px 463px #fff,
      1685px 597px #fff,
      1552px 569px #fff,
      268px 1063px #fff,
      895px 1405px #fff,
      658px 831px #fff,
      1529px 641px #fff,
      1158px 656px #fff,
      151px 1746px #fff,
      1533px 1464px #fff,
      674px 1282px #fff,
      625px 190px #fff,
      1554px 541px #fff,
      1187px 929px #fff,
      1543px 4px #fff,
      1028px 869px #fff,
      1863px 1261px #fff,
      1629px 1064px #fff,
      86px 1872px #fff,
      1097px 101px #fff,
      1660px 1348px #fff,
      1162px 1908px #fff,
      600px 362px #fff,
      686px 1355px #fff,
      936px 1551px #fff,
      65px 761px #fff,
      875px 754px #fff,
      582px 1137px #fff,
      226px 981px #fff,
      1577px 355px #fff,
      1155px 1246px #fff,
      411px 1232px #fff,
      423px 1875px #fff,
      600px 257px #fff,
      319px 1844px #fff,
      1174px 1348px #fff,
      1154px 235px #fff,
      1501px 1915px #fff,
      1223px 1287px #fff,
      1203px 1410px #fff,
      249px 837px #fff,
      424px 1232px #fff,
      917px 982px #fff,
      297px 405px #fff,
      1246px 677px #fff,
      850px 1565px #fff,
      256px 1576px #fff,
      253px 1638px #fff,
      267px 1414px #fff,
      248px 1868px #fff,
      445px 1921px #fff,
      1754px 363px #fff,
      465px 1268px #fff,
      1501px 487px #fff,
      819px 652px #fff,
      156px 206px #fff,
      632px 1957px #fff,
      1942px 1643px #fff,
      1919px 752px #fff,
      1096px 621px #fff,
      604px 810px #fff,
      1262px 1290px #fff,
      1542px 12px #fff,
      350px 702px #fff,
      1496px 1552px #fff,
      1389px 1096px #fff,
      617px 188px #fff,
      112px 1178px #fff,
      1363px 790px #fff,
      1093px 293px #fff,
      1775px 1515px #fff,
      1458px 1197px #fff,
      526px 164px #fff,
      1448px 1487px #fff,
      506px 1854px #fff,
      1040px 1741px #fff,
      1491px 609px #fff,
      287px 1941px #fff,
      217px 1546px #fff,
      1442px 1019px #fff,
      1721px 1338px #fff,
      284px 1123px #fff,
      958px 1787px #fff,
      1414px 1528px #fff,
      1699px 356px #fff,
      1359px 253px #fff,
      194px 1313px #fff,
      696px 949px #fff,
      794px 172px #fff,
      423px 1049px #fff,
      548px 737px #fff,
      1687px 725px #fff,
      1177px 669px #fff,
      488px 1614px #fff,
      532px 1396px #fff,
      795px 962px #fff,
      1649px 500px #fff,
      1140px 721px #fff,
      1931px 1471px #fff,
      1685px 1422px #fff,
      1572px 1771px #fff,
      1707px 303px #fff,
      507px 990px #fff,
      1221px 1147px #fff,
      1103px 1450px #fff,
      1753px 1760px #fff,
      1367px 1273px #fff,
      691px 1741px #fff,
      1988px 106px #fff,
      1946px 1734px #fff,
      1725px 453px #fff,
      1754px 1143px #fff,
      715px 1112px #fff,
      165px 1039px #fff,
      1385px 1002px #fff,
      1435px 760px #fff,
      587px 946px #fff,
      1390px 1873px #fff,
      1909px 494px #fff,
      1663px 1785px #fff,
      1252px 628px #fff,
      30px 1866px #fff,
      318px 1056px #fff,
      1762px 681px #fff,
      964px 925px #fff,
      1778px 1141px #fff,
      887px 500px #fff,
      1423px 1340px #fff,
      37px 1842px #fff;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      935px 1069px #fff,
      481px 43px #fff,
      62px 1523px #fff,
      1981px 1842px #fff,
      1237px 1554px #fff,
      846px 1586px #fff,
      1065px 1663px #fff,
      1464px 1822px #fff,
      1978px 1666px #fff,
      1908px 971px #fff,
      343px 238px #fff,
      874px 1780px #fff,
      742px 1563px #fff,
      1036px 993px #fff,
      680px 155px #fff,
      291px 438px #fff,
      1720px 1363px #fff,
      1093px 1025px #fff,
      1872px 1931px #fff,
      1333px 825px #fff,
      907px 1857px #fff,
      1890px 259px #fff,
      442px 344px #fff,
      858px 824px #fff,
      1674px 1358px #fff,
      1774px 529px #fff,
      1732px 189px #fff,
      1983px 735px #fff,
      125px 1523px #fff,
      869px 239px #fff,
      1232px 1219px #fff,
      1106px 1042px #fff,
      573px 1111px #fff,
      1382px 190px #fff,
      25px 1014px #fff,
      1327px 1077px #fff,
      150px 1695px #fff,
      406px 435px #fff,
      483px 389px #fff,
      1667px 666px #fff,
      72px 973px #fff,
      1989px 806px #fff,
      1096px 507px #fff,
      617px 1500px #fff,
      779px 1524px #fff,
      42px 263px #fff,
      1000px 1788px #fff,
      932px 686px #fff,
      1955px 856px #fff,
      253px 383px #fff,
      1655px 303px #fff,
      1281px 1404px #fff,
      1418px 1824px #fff,
      937px 2000px #fff,
      1575px 373px #fff,
      158px 987px #fff,
      95px 993px #fff,
      1733px 1561px #fff,
      1207px 427px #fff,
      1840px 1265px #fff,
      1781px 478px #fff,
      1939px 1829px #fff,
      676px 987px #fff,
      1604px 1485px #fff,
      1350px 1790px #fff,
      671px 1475px #fff,
      1432px 854px #fff,
      203px 1672px #fff,
      369px 1773px #fff,
      1905px 848px #fff,
      333px 990px #fff,
      429px 463px #fff,
      1685px 597px #fff,
      1552px 569px #fff,
      268px 1063px #fff,
      895px 1405px #fff,
      658px 831px #fff,
      1529px 641px #fff,
      1158px 656px #fff,
      151px 1746px #fff,
      1533px 1464px #fff,
      674px 1282px #fff,
      625px 190px #fff,
      1554px 541px #fff,
      1187px 929px #fff,
      1543px 4px #fff,
      1028px 869px #fff,
      1863px 1261px #fff,
      1629px 1064px #fff,
      86px 1872px #fff,
      1097px 101px #fff,
      1660px 1348px #fff,
      1162px 1908px #fff,
      600px 362px #fff,
      686px 1355px #fff,
      936px 1551px #fff,
      65px 761px #fff,
      875px 754px #fff,
      582px 1137px #fff,
      226px 981px #fff,
      1577px 355px #fff,
      1155px 1246px #fff,
      411px 1232px #fff,
      423px 1875px #fff,
      600px 257px #fff,
      319px 1844px #fff,
      1174px 1348px #fff,
      1154px 235px #fff,
      1501px 1915px #fff,
      1223px 1287px #fff,
      1203px 1410px #fff,
      249px 837px #fff,
      424px 1232px #fff,
      917px 982px #fff,
      297px 405px #fff,
      1246px 677px #fff,
      850px 1565px #fff,
      256px 1576px #fff,
      253px 1638px #fff,
      267px 1414px #fff,
      248px 1868px #fff,
      445px 1921px #fff,
      1754px 363px #fff,
      465px 1268px #fff,
      1501px 487px #fff,
      819px 652px #fff,
      156px 206px #fff,
      632px 1957px #fff,
      1942px 1643px #fff,
      1919px 752px #fff,
      1096px 621px #fff,
      604px 810px #fff,
      1262px 1290px #fff,
      1542px 12px #fff,
      350px 702px #fff,
      1496px 1552px #fff,
      1389px 1096px #fff,
      617px 188px #fff,
      112px 1178px #fff,
      1363px 790px #fff,
      1093px 293px #fff,
      1775px 1515px #fff,
      1458px 1197px #fff,
      526px 164px #fff,
      1448px 1487px #fff,
      506px 1854px #fff,
      1040px 1741px #fff,
      1491px 609px #fff,
      287px 1941px #fff,
      217px 1546px #fff,
      1442px 1019px #fff,
      1721px 1338px #fff,
      284px 1123px #fff,
      958px 1787px #fff,
      1414px 1528px #fff,
      1699px 356px #fff,
      1359px 253px #fff,
      194px 1313px #fff,
      696px 949px #fff,
      794px 172px #fff,
      423px 1049px #fff,
      548px 737px #fff,
      1687px 725px #fff,
      1177px 669px #fff,
      488px 1614px #fff,
      532px 1396px #fff,
      795px 962px #fff,
      1649px 500px #fff,
      1140px 721px #fff,
      1931px 1471px #fff,
      1685px 1422px #fff,
      1572px 1771px #fff,
      1707px 303px #fff,
      507px 990px #fff,
      1221px 1147px #fff,
      1103px 1450px #fff,
      1753px 1760px #fff,
      1367px 1273px #fff,
      691px 1741px #fff,
      1988px 106px #fff,
      1946px 1734px #fff,
      1725px 453px #fff,
      1754px 1143px #fff,
      715px 1112px #fff,
      165px 1039px #fff,
      1385px 1002px #fff,
      1435px 760px #fff,
      587px 946px #fff,
      1390px 1873px #fff,
      1909px 494px #fff,
      1663px 1785px #fff,
      1252px 628px #fff,
      30px 1866px #fff,
      318px 1056px #fff,
      1762px 681px #fff,
      964px 925px #fff,
      1778px 1141px #fff,
      887px 500px #fff,
      1423px 1340px #fff,
      37px 1842px #fff;
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      910px 1524px #fff,
      1309px 110px #fff,
      1000px 1332px #fff,
      1984px 477px #fff,
      1724px 1765px #fff,
      1212px 1597px #fff,
      1586px 1666px #fff,
      1776px 735px #fff,
      213px 1536px #fff,
      434px 116px #fff,
      1590px 1924px #fff,
      1448px 1073px #fff,
      820px 368px #fff,
      337px 54px #fff,
      1542px 1692px #fff,
      1304px 527px #fff,
      974px 700px #fff,
      1582px 365px #fff,
      904px 197px #fff,
      1919px 760px #fff,
      416px 1109px #fff,
      469px 1447px #fff,
      100px 1292px #fff,
      329px 1924px #fff,
      1555px 1694px #fff,
      534px 878px #fff,
      1684px 1154px #fff,
      1900px 1967px #fff,
      1534px 162px #fff,
      1136px 1257px #fff,
      1862px 104px #fff,
      793px 146px #fff,
      1994px 1184px #fff,
      196px 1562px #fff,
      958px 1032px #fff,
      1266px 974px #fff,
      1640px 10px #fff,
      375px 705px #fff,
      1170px 776px #fff,
      855px 1646px #fff,
      830px 480px #fff,
      594px 995px #fff,
      1283px 414px #fff,
      1692px 669px #fff,
      1180px 1213px #fff,
      1409px 152px #fff,
      1976px 1632px #fff,
      629px 1716px #fff,
      693px 60px #fff,
      1759px 671px #fff,
      853px 803px #fff,
      1820px 1340px #fff,
      1741px 327px #fff,
      413px 1241px #fff,
      4px 285px #fff,
      174px 1224px #fff,
      385px 1157px #fff,
      240px 594px #fff,
      1921px 1219px #fff,
      1114px 1837px #fff,
      1149px 1729px #fff,
      1124px 1871px #fff,
      1530px 577px #fff,
      902px 952px #fff,
      1614px 1066px #fff,
      886px 86px #fff,
      365px 1520px #fff,
      170px 888px #fff,
      246px 1617px #fff,
      572px 1774px #fff,
      560px 1492px #fff,
      1810px 1460px #fff,
      659px 963px #fff,
      1219px 1107px #fff,
      1872px 1164px #fff,
      1228px 1975px #fff,
      977px 1829px #fff,
      1052px 1119px #fff,
      1948px 1726px #fff,
      769px 58px #fff,
      571px 956px #fff,
      636px 14px #fff,
      1067px 937px #fff,
      1593px 1941px #fff,
      438px 442px #fff,
      1906px 1346px #fff,
      889px 1322px #fff,
      26px 794px #fff,
      296px 1533px #fff,
      1044px 1119px #fff,
      652px 1349px #fff,
      88px 412px #fff,
      598px 945px #fff,
      1209px 641px #fff,
      1422px 997px #fff,
      399px 727px #fff,
      782px 121px #fff,
      863px 1171px #fff,
      1893px 691px #fff,
      1191px 195px #fff;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      910px 1524px #fff,
      1309px 110px #fff,
      1000px 1332px #fff,
      1984px 477px #fff,
      1724px 1765px #fff,
      1212px 1597px #fff,
      1586px 1666px #fff,
      1776px 735px #fff,
      213px 1536px #fff,
      434px 116px #fff,
      1590px 1924px #fff,
      1448px 1073px #fff,
      820px 368px #fff,
      337px 54px #fff,
      1542px 1692px #fff,
      1304px 527px #fff,
      974px 700px #fff,
      1582px 365px #fff,
      904px 197px #fff,
      1919px 760px #fff,
      416px 1109px #fff,
      469px 1447px #fff,
      100px 1292px #fff,
      329px 1924px #fff,
      1555px 1694px #fff,
      534px 878px #fff,
      1684px 1154px #fff,
      1900px 1967px #fff,
      1534px 162px #fff,
      1136px 1257px #fff,
      1862px 104px #fff,
      793px 146px #fff,
      1994px 1184px #fff,
      196px 1562px #fff,
      958px 1032px #fff,
      1266px 974px #fff,
      1640px 10px #fff,
      375px 705px #fff,
      1170px 776px #fff,
      855px 1646px #fff,
      830px 480px #fff,
      594px 995px #fff,
      1283px 414px #fff,
      1692px 669px #fff,
      1180px 1213px #fff,
      1409px 152px #fff,
      1976px 1632px #fff,
      629px 1716px #fff,
      693px 60px #fff,
      1759px 671px #fff,
      853px 803px #fff,
      1820px 1340px #fff,
      1741px 327px #fff,
      413px 1241px #fff,
      4px 285px #fff,
      174px 1224px #fff,
      385px 1157px #fff,
      240px 594px #fff,
      1921px 1219px #fff,
      1114px 1837px #fff,
      1149px 1729px #fff,
      1124px 1871px #fff,
      1530px 577px #fff,
      902px 952px #fff,
      1614px 1066px #fff,
      886px 86px #fff,
      365px 1520px #fff,
      170px 888px #fff,
      246px 1617px #fff,
      572px 1774px #fff,
      560px 1492px #fff,
      1810px 1460px #fff,
      659px 963px #fff,
      1219px 1107px #fff,
      1872px 1164px #fff,
      1228px 1975px #fff,
      977px 1829px #fff,
      1052px 1119px #fff,
      1948px 1726px #fff,
      769px 58px #fff,
      571px 956px #fff,
      636px 14px #fff,
      1067px 937px #fff,
      1593px 1941px #fff,
      438px 442px #fff,
      1906px 1346px #fff,
      889px 1322px #fff,
      26px 794px #fff,
      296px 1533px #fff,
      1044px 1119px #fff,
      652px 1349px #fff,
      88px 412px #fff,
      598px 945px #fff,
      1209px 641px #fff,
      1422px 997px #fff,
      399px 727px #fff,
      782px 121px #fff,
      863px 1171px #fff,
      1893px 691px #fff,
      1191px 195px #fff;
  }

  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}
